:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --Linear: (135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
    --Linear: (135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}

.main {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 6rem;
}

.female {
    width: auto;
    height: 100vh;
    max-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 4rem;
}

article{
    width: 55%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start;
}

h1 {
    letter-spacing: 10px;
    font-size: 60px;
    line-height: 1.1;
}

.plural {
    font-weight: 300;
    color: var(--Desaturated-Red);
}

p {
    color: var(--Desaturated-Red);
    line-height: 1.7;
    margin-top: 2rem;
}

#form {
    margin-top: 1.8rem;
    width: 90%;
}

.email {
    width: 50%;
    border: 1px solid var(--Desaturated-Red);
    border-radius: 30px;
    display: flex;
}

.border {
    border: 1.5px solid var(--Soft-Red);
}

input {
    font: var(--Desaturated-Red) 400 14px "Josefin Sans", sans-serif;
    width: 20rem;
    border: 0;
    border-radius: 20px;
    height: auto;
    padding: 0.5rem ;
    outline: none;
    margin: 0 1rem;
}

.btn {
    border: 0;
    background-color: #fff;
}

.arrow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    padding: 0.8rem 2rem;
    height: auto;
    transition: 1s;
    &:hover{
        margin-right: -2.5rem;
        padding: 0.8rem 2.3rem;
        background-color: linear-gradient(135deg,#ffffff,#fff5f5);
    }
}

#error {
    display: block;
    color: var(--Soft-Red);
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    text-align: start;
}


@media screen and (max-width: 37.5rem){
    .main {
        flex-direction: column;
        margin: 0;
    }
    
    .content {
        align-items: center;
        justify-content: center;
    }

    .female {
        width: 100vw;
        min-height: 10%;
    }

    article {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    h1 {
        font-size: 40px;
        text-align: center;
    }

    p {
        text-align: center;
    }
    
    #form {
        width: auto;
        margin-top: 1.8rem;
    }
    
    .email {
        width: auto;
        border: 1px solid var(--Desaturated-Red);
        border-radius: 30px;
        display: flex;
    }

    input {
        width: 10rem;
        padding: 0.3rem;
    }

    .arrow {
        padding: 0.5rem 1.5rem;
        transition: 1s;
        &:hover{
            padding: 0.5rem 1.8rem;
        }
    }
}